@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar while keeping scrolling functionality */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

